h1{
    color: red;
    font-style: italic;
    text-align: center;
    margin-bottom: 2%;
    text-shadow:  7px 7px pink;
    font-size: xxx-large;

}
button{
    margin-top: 4%;
    margin-left: 4%;
    background-color: burlywood;
    color: darkblue;
    font-style: italic;
    border-radius: 18px;
    font-size: xx-large;
}
 
.Präposition1, .Präposition2, .Präposition3, .Präposition4, .Präposition5, .Präposition6, .Präposition7, .Präposition8, .Präposition9, .Präposition10, .Präposition11, .Präposition12, .Präposition13, .Präposition14, .Präposition15, .Präposition16{
    width: 50%;
    height: 100%;
    background-color:red;
    color: white;
    position: absolute;
    margin-left: 25%;
    text-align: center;
    font-size: xx-large;
}
li{
    color: white;
    text-align: left;
    font-size: 20px;
    margin-left: 5em;
}
li:hover{
    margin-left: 0;
    color: white;
    font-size: 36px;
}
.Präposition2{
    background-color:blue;
}
.Präposition3{
    background-color:green;
}
.Präposition4{
    background-color:orange;
}
.Präposition5{
    background-color:brown;
}
.Präposition6{
    background-color:black;
}
.Präposition7{
    background-color:pink;
}
.Präposition8{
    background-color:violet;
}
.Präposition9{
    background-color:darkgoldenrod;
}
.Präposition10{
    background-color:darkmagenta;
}
.Präposition11{
    background-color:darkslategrey;
}
.Präposition12{
    background-color:rgb(107, 88, 24);
}
.Präposition13{
    background-color:indigo;
}
.Präposition14{
    background-color:darksalmon;
}
.Präposition15{
    background-color:black;
}
.Präposition16{
    background-color:darkseagreen;
}